In [18]:
import pandas as pd
import numpy as np

In [44]:
data=pd.read_csv('sample.csv')

In [45]:
data

     sky airtemp humidity    wind water forecast enjoysports
0  sunny    warm   normal  strong  warm     same         yes
1  sunny    warm     high  strong  warm     same         yes
2  rainy    cold     high  strong  warm   change          no
3  sunny    warm     high  strong  cool   change         yes

In [46]:
concepts=np.array(data)[:,:-1]

In [47]:
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [48]:
target=np.array(data)[:,-1]

In [49]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [50]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val.lower()=='yes':
            specific_h=con[i].copy()
            break
    for i,val in enumerate(con):
        if tar[i].lower()=='yes':
            for x in range(len(specific_h)):
                if val[x]!=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [51]:
print(train(concepts,target))

['sunny' 'warm' '?' 'strong' '?' '?']