In [18]:
import pandas as pd
import numpy as np

In [31]:
data=pd.read_csv('sample2.csv')

In [32]:
data

  citationa     size inlibrary       price editions  buy
0      some    small        no  affordable     many   no
1      many      big        no   expensive      one  yes
2      some      big    always   expensive      few   no
3      many  medimum        no   expensive     many  yes
4      many    small        no  affordable     many  yes

In [33]:
concepts=np.array(data)[:,:-1]

In [34]:
concepts

array([['some', 'small', 'no', 'affordable', 'many'],
       ['many', 'big', 'no', 'expensive', 'one'],
       ['some', 'big', 'always', 'expensive', 'few'],
       ['many', 'medimum', 'no', 'expensive', 'many'],
       ['many', 'small', 'no', 'affordable', 'many']], dtype=object)

In [35]:
target=np.array(data)[:,-1]

In [36]:
target

array(['no', 'yes', 'no', 'yes', 'yes'], dtype=object)

In [37]:
def train(con,tar):
    for i,val in enumerate(tar):
        if val.lower()=='yes':
            specific_h=con[i].copy()
            break
    for i,val in enumerate(con):
        if tar[i].lower()=='yes':
            for x in range(len(specific_h)):
                if val[x]!=specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [38]:
print(train(concepts,target))

['many' '?' 'no' '?' '?']